
* {
  scroll-behavior: smooth;
  scroll-margin: 10rem;
}

.font-chakra {
    font-family: "Chakra Petch", sans-serif;
  }
  .menuText {
    color: transparent;
    -webkit-text-stroke: 1px white;
    position: relative;
    background: linear-gradient(90deg, white, white);
    background-size: 100% 10%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-clip: text;
    transition: background-size 0.3s cubic-bezier(.09,.49,.63,.58);
  }
  
  .menuText:hover {
    background-size: 100% 85%;
  }
  
  .scrollerHidden {
    scrollbar-width: 0px;
  }
  body::-webkit-scrollbar, html::-webkit-scrollbar, .scrollerHidden::-webkit-scrollbar {
    display: none;
    width: 0px;
    background-color: transparent;
  }
  .scrollerHidden::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  display: none;
  width: 0px;
  background: transparent;
  }
  .scrollerHidden::-webkit-scrollbar-track-piece, body::-webkit-scrollbar-track-piece, html::-webkit-scrollbar-track-piece {
  display: none;
  width: 0px;
  background: transparent;
  }
  .scrollerHidden::-webkit-scrollbar-track, body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
  display: none;
  width: 0px;
  background: transparent;
  }
  
  .navFooterItem:hover {
  left: 0px;
  }

  .cardBg {
    animation: Card 5s linear infinite alternate;
  }

  @keyframes Card {
    from {
      top: 0%;
    }
    to {
      top: -100%;
    }
  }
 